# Dependencies
node_modules

# Build output
dist
dist-ssr
build
out
*.local

# Electron
release-builds
*.dmg
*.pkg
*.deb
*.rpm
*.exe
*.zip
*.tar.gz

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store

# Testing
coverage

# Cache
.eslintcache
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
